
<ion-view view-title="Maps">
  <ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left" scroll="true">
      <h1>MY TRAILS</h1>
      <!-- <button style="width:90%; margin:5%;" class="button button-royal" ng-repeat="x in $parent.pathNames">{{x}}</button> -->

      <div style="overflow:scroll; height:80%" >

      <div class="card" ng-repeat="name in $parent.pathNames" ng-click="$parent.displayPath(name)">

        <h2>{{name}}</h2>
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>
      </div>
    </ion-side-menu>

    <ion-side-menu-content>
      <!-- Main content, usually <ion-nav-view> -->
    	<ion-content class="background">
        <div id = "map1" data-tap-disabled = "true" ng-click = "addOnClick($event)"></div>
        <form ng-if="$parent.textBox" class="slide" ng-show="$parent.textBox">
          <input type="text" ng-model="$parent.$parent.$parent.trailName" >
          <button class="button button-royal" ng-click="$parent.$parent.$parent.finishTrail()">SUBMIT</button>
        </form>
        <form ng-if = "$parent.$parent.$parent.isNewMarker " class = "slide">
          <input id="info" type="text" ng-model="info" placeholder="Marker Description">
          <button class = "button button-royal" ng-click = "onInfoSubmit(info)">Save</button>
          <button class = "button button-royal" ng-click = "deleteMarker()">Delete</button>
          <button class = "button button-royal" ng-click = "cancelUpdate()">Cancel</button>
        </form>
    		<div id = "map-nav-bar" class="bar bar-footer bar-balanced">
          <button menu-toggle id="search-button" class="button button-royal icon ion-search trails"></button>
          <button id="new-button" class="button button-royal icon ion-plus trails" ng-click="finishTrail()"></button>
          <button id="new-button" class="button button-royal icon ion-close trails" ng-click="clearAll()"></button>
    		</div>

    	</ion-content>
    </ion-side-menu-content>
  </ion-side-menus>
</ion-view>
