
<ion-view view-title="Maps">
  <ion-content class="background">
    <!--<h1> Make trails</h1>-->
    <!--<input type="text"  ng-model='$parent.trailName' name="txt2">-->
    <!--<button type="button" ng-click = "trailCreation()">Create a Trail</button>-->
    <div id = "map1" data-tap-disabled = "true" ng-click = "addOnClick($event)"></div>

    <div class = "menu" id = "menu1">
      <h3>Create a New Trail or Edit Current One</h3>
      <button ng-click = "trailCreation()">Create a New Trail</button>
      <button ng-click = "button1Click()">Edit a Current Trail</button>
      <input type="text"  ng-model='$parent.trailName' name="txt2">

    </div>

    <div class = "menu" id = "menu2">
      <h3>Create a new Marker or Finish Trail</h3>
      <button ng-click = "newMarker()">New Marker</button>
      <button ng-click = "finishTrail()">Finish Trail</button>
      <input type = "text" placeholder="Marker Name" ></input>
    </div>

    <div class = "menu" id = "menu3">
      <h3>Use Current Position or Click On Map and Add Position Manually</h3>
      <button ng-click = "useCurrentPosition()">Current Position</button>
      <button ng-click = "useManualPosition()">Manually Add Position</button>

    </div>
  </ion-content>
</ion-view>
