/* Empty. Add your own CSS if you like */

.background{
    background: rgb(156,296,93); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(156,296,93), rgb(50,125,50)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(156,296,93), rgb(50,125,50)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(156,296,93), rgb(50,125,50)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(156,296,93), rgb(50,125,50)); /* Standard syntax */
}

img#HomeHiker{
	display:block;
	width:50%;
	text-align: center;
	padding:15% 0;
	margin: 0 25%;
}

#inspire{
	display:inline-block;
	width: 100%;
}

#inspire div{
	font-weight: bold;
	font-size: 2em;
	margin:0;
	float:left;
	text-align: center;
	width:50%;
}

#inspire div#left{
	padding-right:0.25em;
	text-align: right;
}

#inspire div#right{
	padding-left:0.25em;
	text-align: left;
}

.scroll{
	height:100%;
}

#map{
  width:100%;
  height:100%;
}
#map1{
  width:100%;
  height:70%;
}

.menu{
  background-color: lightgreen;

  width: 100%;
  height:30%;
  position: relative;
}

#menu1{

}
#menu2{
  visibility: hidden;
}
#menu3{
visibility: hidden;
}

